body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-decoration: none;

}

.profile-cart {
  width: 400px;
  min-height: 500px;
  box-shadow: 0 0 5px 1px rgba(52, 52, 52, 0.224);
  position: relative;
  border-radius: 20px;
  transition: 2s;

}

.profile-cart:hover {
  box-shadow: 0 0 15px 1px rgba(52, 52, 52, 0.25)
}

.profile-cart::after {
  content: " ";
  background-image: linear-gradient(135deg, #FFF720 10%, #3CD500 100%);
  clip-path: circle(50% at 50% 1%);
  display: block;
  min-height: 500px;
  transition: 2s;
  border-radius: 20px;
}

.profile-cart:hover::after {
  content: " ";
  clip-path: circle(100% at 50% 170%);
  transition: 2s;
  display: block;
  min-height: 500px;
  transition: 2s;
  border-radius: 20px;

}


img {
  width: 100px !important;
  height: 100px !important;
  position: absolute;
  top: 78px;
  left: 37%;
  z-index: 99999999;
  transition: 2s;
  border-radius: 100%;
}

.profile-cart:hover img {

  transform: scale(1.3) translateY(20px);
  transition: 2s;

}

h1 {
  z-index: 999;
  position: absolute;
  justify-content: center;
  display: flex;
  width: 100%;
  font-family: "poppins bold";
  color: rgba(30, 29, 29, 0.85);
  letter-spacing: 2px;
  text-shadow: 2px 2px 0px rgba(37, 37, 37, 0.421);
}

p {
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  text-align: center;
  top: 50%;
  font-family: "poppins";
  font-weight: 500;
  margin: 0 20px;
  color: rgba(30, 29, 29, 0.85);
  text-shadow: 1.5px 1.5px 0px rgba(37, 37, 37, 0.306);
}

.social-area {
  position: absolute;
  bottom: 30px;
  z-index: 999;
  justify-content: center;
  display: flex;
  width: 100%;
}

.social-area a {
  color: rgba(30, 29, 29, 0.85);
}

.social-area svg {
  margin: 20px 20px 0 20px;
  font-size: 25px;
  transition: 4s;
}

.profile-cart:hover .social-area svg {
  color: white;
  transition: 1s;
}

.profile-cart .social-area svg:hover {
  transform: scale(1.5);
}