body {
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Dancing Script", cursive;
  letter-spacing: 10px;
}

.clock {
  color: #ff61be;
  font-size: 5rem;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 20px#FF61BE;
}
