*, *::after, *::before {
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }
  :root {
    --primary: #183642;
    --secondary: #DFEFCA;
    --shadow-color: #000;
    --clock-height: 200px;
    --clock-width: 200px;
    --clock-inner-height: 150px;
    --clock-inner-width: 150px;
    --clock-radius: 10px;
    --clock-digit-margin: calc((var(--clock-height) - var(--clock-inner-height)) / 2);
    --clock-digit-height: 10px;
    --clock-digit-width: 2px;
    --dial-height: 10px;
    --dial-width: 10px;
    --dial-hour-height: 50px;
    --dial-hour-width: 5px;
    --dial-hour-color: #de2525fc;
    --dial-minutes-height: 65px;
    --dial-minutes-width: 3px;
    --dial-hour-color: #CC2936;
    --dial-seconds-height: 70px;
    --dial-seconds-width: 2px;
    --dial-seconds-color: #008DD5;
  }
  
  body {
    background-color: var(--primary);
    font-family: 'Montserrat', sans-serif;
  }
  
  .clock {
    position: relative;
    width: var(--clock-width);
    height: var(--clock-height);
    border-radius: var(--clock-radius);
    box-shadow: 0px 2px 20px var(--shadow-color);
    margin: 150px auto;
  }
  .clock__inner {
    box-shadow: 0px 0px 2px 1px var(--secondary);
    height: var(--clock-inner-height);
    width: var(--clock-inner-width);
    margin: auto;
    position: absolute;
    top: 100px;
    left: 100px;
    transform: translate(-50%, -50%);
  }
  .clock__hour {
    color: var(--secondary);
    text-align: center;
    position: absolute;
    left: 100px;
    transform: translateX(-50%);
  }
  
  .clock__hour--first-half {
    line-height: 0.8;
    margin-top: calc((var(--clock-digit-margin) / 2) / 2);
  }
  
  .clock__hour--second-half {
    top: calc(var(--clock-width) / 2);
    right: 0;
    text-align: right;
    transform: translateY(-50%);
    margin-right: calc((var(--clock-digit-margin) / 2) / 2);
  }
  
  .clock__hour--third-half {
    bottom: 0;
    line-height: 0.8;
    margin-bottom: calc((var(--clock-digit-margin) / 2) / 2);
  }
  
  .clock__hour--fourth-half {
    top: calc(var(--clock-width) / 2);
    left: 0;
    text-align: right;
    transform: translateY(-50%);
    margin-left: calc((var(--clock-digit-margin) / 2) / 2);
  }
  
  .clock__min {
    position: absolute;
    background-color: var(--secondary);
    height: var(--clock-digit-height);
    width: var(--clock-digit-width);
    margin: auto;
  /*   transform: rotate(30deg); */
  }
  
  .clock__min--5 {
    right: 50px;
    margin-top: calc((var(--clock-digit-margin) / 2) / 2);
  }
  
  .clock__min--10 {
    right: 0;
    top: 50px;
    margin-right: calc((var(--clock-digit-margin) / 2) - 2px);
    transform: rotate(90deg);
  }
  
  .clock__min--20 {
    right: 0;
    top: 150px;
    margin-right: calc((var(--clock-digit-margin) / 2) - 2px);
    transform: rotate(90deg);
  }
  
  .clock__min--25 {
    right: 50px;
    bottom: 0;
    margin-bottom: calc((var(--clock-digit-margin) / 2) / 2);
  }
  
  .clock__min--35 {
    left: 50px;
    bottom: 0;
    margin-bottom: calc((var(--clock-digit-margin) / 2) / 2);
  }
  
  .clock__min--40 {
    left: 0;
    top: 150px;
    margin-left: calc((var(--clock-digit-margin) / 2) - 2px);
    transform: rotate(90deg);
  }
  
  .clock__min--50 {
    left: 0;
    top: 50px;
    margin-left: calc((var(--clock-digit-margin) / 2) - 2px);
    transform: rotate(90deg);
  }
  
  .clock__min--55 {
    left: 50px;
    top: 0;
    margin-top: calc((var(--clock-digit-margin) / 2) / 2);
  }
  
  .dial__circle {
    position: absolute;
    height: var(--dial-height);
    width: var(--dial-width);
    background-color: var(--secondary);
    top: calc(var(--clock-inner-height) / 2);
    left: calc(var(--clock-inner-width) / 2);
    transform: translate(-50%, -50%);
    border-radius: calc(var(--dial-height) / 2);
    z-index: 999;
  }
  
  .dial__hour {
    position: absolute;
    height: var(--dial-hour-height);
    width: var(--dial-hour-width);
    background-color: var(--dial-hour-color);
    top: calc(var(--clock-inner-height) / 2);
    left: calc(var(--clock-inner-width) / 2);
    transform-origin: bottom center;
    transform: translate(-50%, -100%);
    border-radius: calc(var(--dial-height) / 2);
  }
  
  .dial__minutes {
    position: absolute;
    height: var(--dial-minutes-height);
    width: var(--dial-minutes-width);
    background-color: var(--secondary);
    top: calc((var(--clock-inner-height) / 2));
    left: calc((var(--clock-inner-width) / 2));
    transform-origin: bottom center;
    transform: translate(-50%, -100%);
    border-radius: calc(var(--dial-height) / 2);
  }
  
  .dial__seconds {
    position: absolute;
    height: var(--dial-seconds-height);
    width: var(--dial-seconds-width);
    background-color: var(--dial-seconds-color);
    top: calc(var(--clock-inner-height) / 2);
    left: calc(var(--clock-inner-width) / 2);
    transform: translate(-50%, -100%);
    transform-origin: bottom center;
    border-radius: calc(var(--dial-height) / 2);
  }